<?xml version="1.0"?>
<launch>

	<node pkg="business_layer_pkg" type="ros_node.py" name="robot_control" output="screen">
		<param name="pcl_topic" value="velodyne_points" />
		<param name="autonomous_cmd_topic" value="autonomous_cmd_vel" />
	</node>

	<node name="robot_connection" pkg="business_layer_pkg" type="robot_connection.py"/>
	
	<!-- <include file="$(find point_cloud_to_occupancy_grid)/launch/pcd_to_occupancy_grid.launch">
		<arg name="pcl_map" value="/hdl_graph_slam/map_points"/>
		<arg name="grid_map" value="map"/>
	</include> -->

	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
		<arg name="port" value="9090" />
	</include>
</launch>
